= comfy_admin_partial "comfy/admin/cms/partials/html_footer"

= javascript_include_tag "comfy/admin/cms/application", "data-turbolinks-track": "reload"
= javascript_include_tag "https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"

- if content_for(:javascript)
  = yield :javascript
